<meta charset = "UTF-8">
<style>
@font-face {
    font-family : "Topaz";
    src : url("TopazPlus_a1200_v1.0.ttf");
}
*:not(font){
    margin:0;
    padding:0;
    font-family:Topaz;
    font-size:16px;
    line-height:16px;
    outline:none;
    border:none;
}
body{
    background-color : var(--black);
    color : var (--white);
}
:root{
    --black         : rgb(1,1,1);
    --red           : rgb(192,56,43);
    --green         : rgb(64,172,48);
    --yellow        : rgb(248,120,0);
    --blue          : rgb(0,104,160);
    --magenta       : rgb(187,0,187);
    --cyan          : rgb(32,180,216);
    --white         : rgb(192,192,192);
    --bright-black  : rgb(85,85,85);
    --bright-red    : rgb(255,0,0);
    --bright-green  : rgb(0,255,0);
    --bright-yellow : rgb(255,255,0);
    --bright-blue   : rgb(92,128,255);
    --bright-magenta: rgb(255,0,255);
    --bright-cyan   : rgb(0,255,255);
    --bright-white  : rgb(255,255,255);
}
.black         {color : var(--black         );}
.red           {color : var(--red           );}
.green         {color : var(--green         );}
.yellow        {color : var(--yellow        );}
.blue          {color : var(--blue          );}
.magenta       {color : var(--magenta       );}
.cyan          {color : var(--cyan          );}
.white         {color : var(--white         );}
.bright-black  {color : var(--bright-black  );}
.bright-red    {color : var(--bright-red    );}
.bright-green  {color : var(--bright-green  );}
.bright-yellow {color : var(--bright-yellow );}
.bright-blue   {color : var(--bright-blue   );}
.bright-magenta{color : var(--bright-magenta);}
.bright-cyan   {color : var(--bright-cyan   );}
.bright-white  {color : var(--bright-white  );}
body{
    overflow : hidden;
    width : 100vw;
    height : 100vh;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}
pre,article,section{
    position : absolute;
}
article.large{
    width : calc(72 * 8px);
    height : calc(38 * 16px);
}
article.medium{
    width : calc(32 * 8px);
    height : calc(16 * 16px);
}
article.small{
    width : calc(9 * 8px);
    height : calc(8 * 16px);
}
div{
    width:264px;
    height:256px;
    vertical-align : top;
    display:inline-block;
}
</style>
<body>
    <article class="large">
        <section>
            <pre class="bright-black">
 _        _______  _______  _       _________ ______   _______  _______
( \      (  ____ \(  ___  )( (    /|\__   __/(  __  \ (  ___  )(  ____ \
| (      | (    \/| (   ) ||  \  ( |   ) (   | (  \  )| (   ) || (    \/
| |      | (__    | |   | ||   \ | |   | |   | |   ) || (___) || (_____
| |      |  __)   | |   | || (\ \) |   | |   | |   | ||  ___  |(_____  )
| |      | (      | |   | || | \   |   | |   | |   ) || (   ) |      ) |
| (____/\| (____/\| (___) || )  \  |___) (___| (__/  )| )   ( |/\____) |
(_______/(_______/(_______)|/    )_)\_______/(______/ |/     \|\_______)

   .                   _______  _       _________ _______         ,
             |\     /|(  ___  )( (    /|\__   __/(  ____ \        )
    .        | )   ( || (   ) ||  \  ( |   ) (   | (    \/     .
             | | _ | || (___) ||   \ | |   | |   | (_____            .
             | |( )| ||  ___  || (\ \) |   | |   (_____  )           )    
 .     .     | || || || (   ) || | \   |   | |         ) |                
 )    (      | () () || )   ( || )  \  |   | |   /\____) |  ,  .
 (   ,       (_______)|/     \||/    )_)   )_(   \_______)  )            
     )                                                       .      . 
    (     (         )        )  _______         ( )          (
     ,    )        ( )      (  (  ___  ) )        _----____
  )      ( )       ) (      )  | (   ) | (     ( |  \     \~~~~---__
______________________________ | (___) | ,_______\__ \__ __\_ .  \  ~-_
============================== |  ___  | |__________ ___ __ _ . > \   _>
                               | (   ) |         /     \     \    __-~
     )  ) .  )   )  .  (  )  * | )   ( | . ( ( . |_    _\__----~~~
  (    (     (  ( .***. )(  *# |/     \|    )      ~~~~           (
  )    ) . .  ) ) *###* (  *##           *  (  *####*  (  )   )    )
 ( )  (   .   _______  _______  _______  _______  _______    ( )*  (
 ) (( )  *   (  ____ \(  ____ )(  ____ \(  ___  )(  ____ ) . ) (#*  )
(   )(  *#*  | (    \/| (    )|| (    \/| (   ) || (    )| *(   )#  (
) .( ) *#(#* | (_____ | (____)|| (__    | (___) || (____)| #) . (#*  )
 . ) (*##)## (_____  )|  _____)|  __)   |  ___  ||     __) )  *  )#  (
 *( . )#( )#       ) || (      | (      | (   ) || (\ (    ( *#* (#*  )
*#) * (#) (# /\____) || )      | (____/\| )   ( || ) \ \__  )###* )#* (
^^^^^^^^^^^^ \_______)|/       (_______/|/     \||/   \__/ ^^^^^^^^^^^^

            </pre>
            <pre class="white">
                                                                       
 .        ..    .  ..   ..  .          ...    ..  ..   ..   ..  ..    . 
 .        .        .     .  ..    .     .     .    ..  .     .  .       
 .        .        .     .  ...   .     .     .     .  .     .  .      
 .        ..       .     .  .  .  .     .     .     .  ..   ..       .. 
 .        .        .     .  .   ...     .     .     .  .     .        . 
 .        .        .     .  .    ..     .     .    ..  .     .        . 
                                                                        

                                                                   
                       ..   ..  .          ...    ..    .          
              .     .  .     .  ..    .     .     .             
              .     .  .     .  ...   .     .     .                  .
              .  .  .  ..   ..  .  .  .     .          ..                 
 .     .      .  .  .  .     .  .   ...     .           .                 
              .  .  .  .     .  .    ..     .           .       
                                                                         
                                                             .       
                                                              
                                ..   ..                    
                                .     .                             
                                .     .                       .        
                                ..   ..                       .         
                                .     .                               
          .         .           .     .  .     .                  
                  .   .                                            
         . .                                                        
          .                                                         
              ..    .  ..       ..    .  ..   ..  ..    .  .         
              .        .        .        .     .  .                  
  .           .        .        .        .     .  .           .       
 .                 ..  ..       ..       ..   ..  .....               
    .               .  .        .        .     .  .  .                 
                    .  .        .        .     .  .   .                
                                                                       

            </pre>
            <pre class="bright-white">
 _        _______  _______  _       _________ ______   _______  _______
  \              \        )  (     |                \         )        \
  (        (        (     |   \    |     (     (     )  (     |  (      
  |        (__      |     |    \   |     |     |     |  (___  |  (_____
  |           )     |     |  (  \  |     |     |     |        |        )
  |        (        |     |  |     |     |     |     |  (     |        |
  (____/\  (____/\  (___  |  )     |___  (___  (__   )  )     | \____  |
        /                 )        )                          |        )

                       _______  _       _________ _______          
              \      |        )  (     |                 \         
               )     |  (     |   \    |     (     (            
               | _   |  (___  |    \   |     |     (_____             
               |  )  |        |  (  \  |     |           )                
               |  |  |  (     |  |     |     |           |                
               (  (  |  )     |  )     |     |    \____  |      
                     )        |        )     (           )               
                                                                      
                    )        )  _______         ( )           
                   ( )      (          ) )        _----____
                   ) (      )    (     | (     ( |  \     \~~~~---__
______________________________   (___  | ,_______\__ \__ __\_ .  \  ~-_
==============================         | |__________ ___ __ _ . > \   _>
                                 (     |         /     \     \    __-~
     )  ) .  )   )  .  (  )  *   )     | . ( ( . |_    _\__----~~~
  (    (     (  ( .***. )(  *#        \|    )      ~~~~           (
  )    ) . .  ) ) *###* (  *##           *  (  *####*  (  )   )    )
 ( )  (   .   _______  _______  _______  _______  _______    ( )*  (
 ) (( )  *           \        )        \        )        ) . ) (#*  )
(   )(  *#*    (        (     |  (     /  (     |  (     | *(   )#  (
) .( ) *#(#*   (_____   (____ |  (__      (___  |  (____ | #) . (#*  )
 . ) (*##)##         )        )     )           |        ) )  *  )#  (
 *( . )#( )#         |  (        (        (     |  (  (    ( *#* (#*  )
*#) * (#) (#  \____  |  )        (____/\  )     |  )   \__  )###* )#* (
^^^^^^^^^^^^         ) /                        |          ^^^^^^^^^^^^

            </pre>
            <pre class="bright-cyan">




 














                                                  _----____
                                                 |  \     \~~~~---__
                                         ,_______\__ \__ __\_ .  \  ~-_
                                         |__________ ___ __ _ . > \   _>
                                                 /     \     \    __-~
                                                 |_    _\__----~~~
                                                   ~~~~            
                                                                    









            </pre>
            <pre class="bright-blue">




 














                                                           
                                                                    
                                                                       
                                         |__________ ___ __ _ .       _ 
                                                 /                __-~
                                                 |_    _ __----~~~
                                                   ~~~~            
                                                                    









            </pre>
            <pre class="blue">




 














                                                           
                                                                    
                                                                       
                                                                        
                                                 /                __  
                                                 |_               
                                                   ~~~~            
                                                                    









            </pre>
            <pre class="bright-white">




 














                                                           
                                                    \     \          
                                                     \_    \_    \     
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    









            </pre>
            <pre class="yellow">





















______________________________ 
============================== 













            </pre>
            <pre class="bright-yellow">





















______________________________ 
                               













            </pre>
            <pre class="red">









                                                                   
                                                                   
                                                                
                                                                     .
                                                                          
 .     .                                                                  
                                                            ,   
     ,                                                                   
                                                                     
                    )        )                  ( )           
     ,    )        ( )      (            )                 
         ( )       ) (      )            (     (                    
                                                                       
                                                                        
                                                                      
     )  ) .  )   )  .  (  )  *           . ( ( .                  
  (    (     (  ( .***. )(  *#              )                     (
  )    ) . .  ) ) *###* (  *##           *  (  *####*  (  )   )    )
 ( )  (   .                                                  ( )*  (
 ) (( )  *                                                 . ) (#*  )
(   )(  *#*                                                *(   )#  (
) .( ) *#(#*                                               #) . (#*  )
 . ) (*##)##                                               )  *  )#  (
 *( . )#( )#                                               ( *#* (#*  )
*#) * (#) (#                                                )###* )#* (
^^^^^^^^^^^^                                               ^^^^^^^^^^^^

            </pre>
            <pre class="yellow">









                                                                  ,
                                                                   
                                                                
                                                                     .
                                                                          
 .     .                                                                  
                                                            ,   
     ,                                                                   
                                                             .       
                                                              
     ,                                                     
                                                                    
                                                                       
                                                                        
                                                                      
          .         .        *           .     .                  
                  .***.     *#                                     
         . .      *###*    *##           *     *####*               
          .                                                     *   
         *                                                 .    #*   
        *#*                                                *     #   
  .    *# #*                                               #  .  #*   
 .    *## ##                                                  *   #   
 *  .  #   #                                                 *#*  #*   
*#  *  #   #                                                 ###*  #*  
 ^^^^^^^^^^                                                 ^^^^^^^^^^

            </pre>
            <pre class="bright-red">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                             *                                    
                   ***      *                                      
                  *   *    *             *     *    *               
                                                                *   
         *                                                       *   
        * *                                                *         
       *   *                                                      *   
      *                                                       *       
 *                                                           * *   *   
*   *                                                           *   *  
                                                                      

            </pre>
            <pre class="bright-yellow">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    
                                                                    
                                                                     
                                                                     
                                                                      
                                                                      
                                                                       
                                                                       
  ^^^^^^^^                                                   ^^^^^^^^  

            </pre>
            <pre class="white">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    
                                                                    
                                                                     
                                                                     
                                                                      
                                                                      
                                                                       
                                                                       


A game by Karu and Adel Faure                   
Music by Yuichi Broccoli                      
            </pre>
            <pre class="bright-red">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    
                                                                    
                                                                     
                                                                     
                                                                      
                                                                      
                                                                       
                                                                       


          Karu 

            </pre>
            <pre class="bright-blue">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    
                                                                    
                                                                     
                                                                     
                                                                      
                                                                      
                                                                       
                                                                       


                   Adel Faure

            </pre>
            <pre class="bright-white">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    
                                                                    
                                                                     
                                                                     
                                                                      
                                                                      
                                                                       
                                                                       


                                                adelfaure.itch.io/lewas

            </pre>
            <pre class="bright-green">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    
                                                                    
                                                                     
                                                                     
                                                                      
                                                                      
                                                                       
                                                                       



         Yuichi Broccoli             
            </pre>
            <pre class="green">









                                                                   
                                                                   
                                                                
                                                                      
                                                                          
                                                                          
                                                                
                                                                         
                                                                     
                                                              
                                                           
                                                                    
                                                                       
                                                                        
                                                                      
                                                                  
                                                                   
                                                                    
                                                                    
                                                                     
                                                                     
                                                                      
                                                                      
                                                                       
                                                                       



                                              yuichi-broccoli.jimdo.com 
            </pre>
        </section>
    </article>
<!--<article>
<section>
<pre class="white">
                                 
_.-~'~-._.-~'~-._.-~'~-._.-~'~-._
 
 
    Leonidas wants a spear !
 https://adelfaure.itch.io/lewas
 
      Karu and Adel Faure
      
           music by 
        Yuichi Broccoli
   yuichi-broccoli.jimdo.com/
 

'~-._.-~'~-._.-~'~-._.-~'~-.__.-~
 
</pre>
<pre class="bright-red">
                                 
                                 
 
 
                            
                                
 
      Karu               
      
                    
                       
                             
 

                                 
 
</pre>
<pre class="bright-blue">
                                 
                                 
 
 
                            
                                
 
               Adel Faure
      
                    
                       
                             
 

                                 
 
</pre>
<pre class="bright-yellow">
                                 

 
 
    Leonidas wants a spear !
                                
 
                         
      
                    
                       
                             
 

                                 
 
</pre>
<pre class="yellow">
                                 
                                 
 
 
                            
 https://adelfaure.itch.io/lewas
 
                         
      
                    
                       
                             
 

                                 
 
</pre>
<pre class="bright-green">
                                 
                                 
 
 
                            
                                
 
                         
      
                    
        Yuichi Broccoli
                             
 

                                 
 
</pre>
<pre class="green">
                                 
                                 
 
 
                            
                                
 
                         
      
                    
                       
   yuichi-broccoli.jimdo.com/
 

                                 
 
</pre>
<pre class="bright-black">
                                 
_.-~'~-._.-~'~-._.-~'~-._.-~'~-._
 
 
                            
                                
 
                         
      
                    
                       
                             
 

'~-._.-~'~-._.-~'~-._.-~'~-.__.-~
 
</pre>
</section>
</article>-->
<article class="medium">
<section>
<pre class="white  ">
Leonidas Wants a Spear is a
strategy game focusing on the 
impact of craftmanship and
toolmaking in mythologies. 
This game is developed in the
context of the World Myhtolojam.     
Mostly based on html, css and 
javascript, files of the game are 
under GPLv3 license. You are most 
than welcome to copy/share/modify 
in-games scripts and even join us 
in the making of the game.

itch.io/jam/world-mytholojam 
framagit.org/maximebouton/lewas
faure.adel@gmail.com 
</pre>
<pre class="bright-blue">













itch.io/jam/world-mytholojam 
framagit.org/maximebouton/lewas
faure.adel@gmail.com 
</pre>
</section>
</article>
<article class="medium">
<section>
<pre class="bright-white">
                                 
                               
                     
                       
                        
                        
          2019-03-31        
          Experimenting
          multi-colored      
          and animated 
          ASCII art  
                      
                        
                             
                                
                                 
</pre>
<pre class="bright-yellow">
                                 
                  .            
          *          
                       
       .      .        *
                        
    *                      *
                       
  .                         .
                       
                     
      *              .
             .         *
                             
       .        *    .          
                                 
</pre>
</section>
<section>
<pre class="bright-white">
                                 
                               
                     
                       
                        
                        
          2019-03-31        
          Experimenting
          multi-colored      
          and animated 
          ASCII art  
                      
                        
                             
                                
                                 
</pre>
<pre class="bright-yellow">
                                 
                  +            
                     
                       
       +      +         
                        
                            
                       
  +                         +
                       
                     
                     +
             +          
                             
       +             +          
                                 
</pre>
</section>
<section>
<pre class="bright-white">
                                 
                               
                     
                       
                        
                        
          2019-03-31        
          Experimenting
          multi-colored      
          and animated 
          ASCII art  
                      
                        
                             
                                
                                 
</pre>
<pre class="bright-yellow">
                                 
                  *            
          .          
                       
       *      *        .
                        
    .                      .
                       
  *                         *
                       
                     
      .              *
             *         .
                             
       *        .    *          
                                 
</pre>
</section>
<section>
<pre class="bright-white">
                                 
                               
                     
                       
                        
                        
          2019-03-31        
          Experimenting
          multi-colored      
          and animated 
          ASCII art  
                      
                        
                             
                                
                                 
</pre>
<pre class="bright-yellow">
                                 
                               
          +          
                       
                       +
                        
    +                      +
                       
                             
                       
                     
      +               
                       +
                             
                +               
                                 
</pre>
</section>
</article>
<article class="medium">
<section>
<pre class="white  ">
012345678901234567890123456789012
1         1    ___  2         3
2           .-~   ~-.
3          /         \
4         |           |
5        _| -=-   -=- |_
6       ( | <@>   <@> | )
7        \(    ) (    )/
8         °\   °-°   /°
9           \  -=-  /
01          |\     /|
1           | '°-°` |
2         _/         \_
3   _.--~~   \     /   ~~--._
4.-~  -  __   ` - '    __ -  ~-.
/          ~~-      -~~         \
</pre>
</section>
</article>
<article class="medium">
<section>
<pre class="white         ">
                                 
                                 
                                
                                 
                      |          
                      |_         
        ( | < >   < > | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -=-  /            
            |\     /|            
            | '°-°` |            
          _           _            
    _.--~~             ~~--._          
 .-~  -  __            __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow        ">
Athena                           
           ..--~~~-__            
          (//////////)           
         (//_.-~~~-._/)          
        (/)~         ~           
        (/) -=-   -=-            
             @     @             
        (                        
        (/                       
         (//                     
          (/                     
           (                     
                                 
                                 
                                 
                                 
</pre>
<pre class="bright-yellow   ">
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                               
                                 
                                 
                                 
           o         O          
            °o     o°           
              °°o°°             
                                 
</pre>
<pre class="bright-cyan   ">
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
          °           °        
</pre>
</section>
<section>
    <Pre class ="white">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _|           |_         
        ( | < >   < > | )        
         \(    ) (    )/         
               °-°               
                =                
                                 
                                 
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \  
    </pre>
    <Pre class ="red">
Ares                             
                                 
                                
                                 
                                 
            ~=-   -=~            
             @     @             
          (.         .)          
          (/`-.   .-`/)          
          (////) (////)          
          (./////////.)          
           (.///////.)           
             `'~-~'`               
                                       
                                      
     
    </pre>
</section>
<section>
    <Pre class ="white">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _|           |_         
        ( | < >   < > | )        
         \(    ) (    )/         
          °\   °-°   /°          
            \  -=-  /            
            |\     /|            
            | '°-°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \  
    </pre>
    <Pre class ="cyan">
Zeus                         
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
          °           °          
                                 
                                 
                                 
                                   
                                       
                                      

    </pre>
</section>
<section>
    <Pre class ="white">
                                 
                                 
                                
                                 
          |           |          
         _|           |_         
        ( | * *   * * | )        
         \(    ) (    )/         
           (   (_)   )           
            (       )            
            |(  _  )|            
              '~ ~`              
          _           _            
    _.--~~             ~~--._          
 .-~  -  __            __ -  ~-.      
/          ~~-      -~~         \  
    </pre>
    <Pre class ="green">
Hades        ._____.             
            (///////)            
           (/////////)          
          (____)-(____)          
                                 
            ~=-   -=~            
             O     O             
                                 
                                 
               ._.                 
                                 
                                 
                                 
                                       
                                      
        
    </pre>
    <Pre class ="magenta">
                                 
                                 
                                
                                 
                                 
                                 
                                 
                                 
                                 
                                       
                     
           ().     .()             
           (./)   (/.)           
            (///////)            
             ~(///)~             
               ~-~                    
    </pre>
<pre class="bright-yellow   ">
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
          °           °        
</pre>
</section>
</article>
<article class="medium">
<section>
<pre class="blue  ">

   *        *             *     *

      *                  *   *



   *
                             *

  *
      *                   *
                               *



</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -=-  /            
            |\     /|            
            | '°-°` |           
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               -=-               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -o-  /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               -o-               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         -| -=-   -=- |-         
        ( | <@>   <@> | )        
         )(    ) (    )(         
           \   °-°   /           
            \   O   /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
                O                
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                    
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °~°   /           
            \  <0>  /            
            |\     /|            
            | '°-°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               <0>               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °~°   /           
            \  <_>  /            
            |\     /|            
            | '°-°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               <_>               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=~   ~=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °~°   /           
            \  <0>  /            
            |\     /|            
            | '°-°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=~   ~=-            
             @     @             
                                 
                                 
               <0>               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         -| ~=_   _=~ |-         
        ( | -_-   -_- | )        
         )(    ) (    )(         
           \   °-°   /           
            \   O   /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            ~=_   _=~            
                                 
                                 
                                 
                O                
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -o-  /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               -o-               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">

                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -=-  /            
            |\     /|            
          _/  '°-°`  \_          
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
              

            -=-   -=-            
             @     @             
                                 
                                 
               -=-               
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
                                 

            .-=~'~=-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \   -   /            
            |\     /|            
          _/  '°-°`  \_          
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
              

            -=-   -=-            
             @     @             
                                 
                                 
                -                
                                
                                   
                                       
                                      
                                    
</pre>
</section>
</article>
<article class="medium">
<section>
<pre class="blue  ">

   *        *             *     *

      *                      *



   *
                             *

  *
      *                   *
                               *



</pre>
<pre class="white  ">

               ___
            .-~   ~-.
           /         \
          |           |
         _| -=-   -=- |_
        ( | <@>   <@> | )
         \(    ) (    )/
           \   °-°   /
            \  -=-  /
            |\     /|
            | '°-°` |
          _/         \_
    _.--~~   \     /   ~~--._
 .-~  -  __   ` - '    __ -  ~-.
/          ~~-      -~~         \
</pre>
<pre class="yellow  ">





            -=-   -=-
             @     @


               -=-






</pre>
</section>
<section>
<pre class="blue  ">

  *        *             *     *

     *                      *



  *
                            *

 *
     *                   *
                              *



</pre>
<pre class="white  ">

               ____
            .-~    ~-.
           /          :
          |           |
         _|  -=-   -=-`
        ( :  <@>   <@> )
         \.     ) (   |
           \    °-°   ;
            \   -=-  /
            |`.     /
            |  `°-°`|
          _/         \_
    _.--~~    \     /  ~~--._
 .-~   -  __   ` - '    __ - ~-.
/           ~~-      -~~        \
</pre>
<pre class="yellow  ">





             -=-   -=-
              @     @


                -=-






</pre>
</section>
<section>
<pre class="blue  ">

 *        *             *     *

    *                      *



 *
                           *

*
    *                   *
                             *



</pre>
<pre class="white  ">

               ____
            .-~    ~-.
           /          \
          |            :
         _|   -=-   -=-)
        (  `  <@>   <@>:
         \.      ) (   |
           `     °-°   '
            \    -=:  /
            |`-.    ./
            |   ~°-°`
          _/ `       \_
     _.-~~     \    |  ~~-._
  .-~   -  __   ` - '    _- ~-.
 /           ~~-      -~~      \
</pre>
<pre class="yellow  ">





              -=-   -=-
               @     @


                 -=:






</pre>
</section>
<section>
<pre class="blue  ">

*        *             *     *

   *                      *



*
          *               *

                                *
   *                   *
                            *



</pre>
<pre class="white  ">

               ____
            .-~    ~-.
           /          \
          |            :
         _|    -=-   -=|
        (  `   <@>   <@:
         \.       ) \  |
           \      °-°  '
            :.    -=: .
            | ~-_    .`
            |    ~°-°
          _/ `       \_
     _.-~~      \    . ~~-._
  .-~    -  __   ` - '   _- ~-.
 /            ~~°-     -~      \
</pre>
<pre class="yellow  ">





               -=-   -=
                @     @


                  -=:






</pre>
</section>
<section>
<pre class="blue  ">

        *             *     *   *

  *                      *



                                *
         *               *

                               *
  *                   *
                           *



</pre>
<pre class="white  ">

               __.._
            .-~     ~-
           /          \
          ;            :
          _     -=-   -,
         ( `    <@>   O:
          \.       ) \ `
           `'      °-° |
            :`.    -=: '
            |  ~.     /
            |    '°--'
          _/  `      \
      _.-~       \   .`~-._
   .-~    -  __   ` '   _- ~-.
  /            ~~°-    =      \
</pre>
<pre class="yellow  ">





                -=-   -
                 @    O


                   -=:






</pre>
</section>
<section>
<pre class="blue  ">

       *             *     *   *

 *



                               *
        *

                              *
 *
                          *



</pre>
<pre class="white  ">

               __.._
            .-~     ~-_
           /           \
          |             ,
          ;_     -=-   =)
          ( `    <@>  .o.
           \.       | \ `
           ` '       °/ '
            |       -=:
            |  `.      '
            ;      °--'
          _/   `     \
      _.-~        \  .`~-._
   .-~     -  __   ` '  _- ~-.
  /             ~~°-   -      \
</pre>
<pre class="yellow  ">





                 -=-   =
                  @    o


                    -=:






</pre>
</section>
<section>
<pre class="blue  ">

      *             *     *   *

*



                              *
       *

                             *
*
                         *



</pre>
<pre class="white  ">

               __...
            .-~      `-
           /           `
          (             )
          | _     -=-  -)
           ( `    <@>  <
            \.       \ \)
           `,`        °/)
            ( \      -=<
            |  ` .     ,
            /       °-~
           /    `    \
       _.-~        \ .`~-._
    .-~     -  __   `' _-  ~-.
   /             ~°-  -       \
</pre>
<pre class="yellow  ">





                  -=-  -
                   @


                     -=






</pre>
</section>
<section>
<pre class="blue  ">

     *             *     *   *

                                *



                             *
      *

                            *
                                *
                        *
      *


</pre>
<pre class="white  ">

               __...
            .-~      `.
           /           \
          (             )
          '  _     -=-  -
          ( ( `    <@> .<
          `. \.,      \ \
           `\ `        °/
            |  \      -='
            |   ` .    )'
            /       `~-°
           /     `   \
       _.-~        \ .`~-.
    .-~-     -  __  `' _- ~-.
   /      `       ~°- -      \
</pre>
<pre class="yellow  ">





                   -=-  -
                    @


                      -=






</pre>
</section>
<section>
<pre class="blue  ">

    *             *     *   *

                               *



                            *
     *

                           *
                               *
                       *
     *


</pre>
<pre class="white  ">

               __..._
            .-~       `.
           /            \
          (              )
          |   _     -=- /-
          \  ( `    <@> (/
           \  \ ,        \
            (  `        °/
            |  \       <:
            |   ` .     )
            /       `~-°
           /     `   \
         .~         \.`~-.
    .-~'` -   -  __  ` _- ~-.
   /       `       ~° -      \
</pre>
<pre class="yellow  ">





                    -=-  -
                     @


                       <:






</pre>
</section>
<section>
<pre class="blue  ">

   *             *     *   *

                              *
         *


                           *
    *

                          *
                              *
                      *
    *


</pre>
<pre class="white  ">

               __..._
            .-~       `.
           /            \
          (              )
          |    _     -=- |
          \   ( `    <@> /
           \   \ ,       \
            (   `       °/
            |   \       <
            |    ` .    )
            |        |~'
           /   \     \
        __~        `  `-.
     .-~    -  -  __  ` _~-.
    /        `\     ~° -    \
</pre>
<pre class="yellow  ">





                     -=-
                      @


                        <






</pre>
</section>
<section>
<pre class="blue  ">

  *             *     *   *

                             *
        *


                          *
   *

                         *
                             *

   *


</pre>
<pre class="white  ">

                __..._
            .-~       `.
           /            \
          (              )
          |     _     -=-|
          \    ( `    <  /
           \    \ ,      \
            (    `      °/
            |   \       (
            |    ` .    )
            |        |~'
           /    \    \
          /_       `  `-.
      .-~     - -  __  `_~-.
     /         `\    ~° -   \
</pre>
<pre class="yellow  ">





                      -=-
                       o









</pre>
</section>
<section>
<pre class="blue  ">

 *             *     *   *

                            *
       *



  *


           *                *

  *


</pre>
<pre class="white  ">

               __..._
            .-~       `.
           /            \
          (              )
          |      _     -=|
          \     ( `    < /
           \     \ ,     \
            (     `      /
            |    \      (
            |     ` .   )
            |        |~'
           /      \  \
          /_          \
      .-~       - -  __`-_
     /           `\    ~°  \
</pre>
<pre class="yellow  ">





                       -=










</pre>
</section>
<section>
<pre class="blue  ">

*             *     *   *

                           *
      *



 *


          *                *

 *


</pre>
<pre class="white  ">

               __..._
            .-~       `.
           /            \
          (              )
          |       _     -)
          \      ( `    (
           \      \ ,    )
            (      `     )
            |     \     (
            |      ` .  )
            |        |~'
            |       \\
           /          \
         -~'   '~-.  -_`-_
       /'          `\  ~° '\
</pre>
<pre class="yellow  ">





                        -










</pre>
</section>
<section>
<pre class="blue  ">

             *     *   *        *

                          *
     *



*


         *                *

*


</pre>
<pre class="white  ">

               __..._
            .-~       `.
           /            \
          (              )
          |        _     )
          \       ( `   |
           \       \     )
            |       `    |
            ',     \    |`
             |      ` . )
             |       / '
            /`       )
           /         \
          -~'   '~-. -`-_
        /'          `\ ~ '\
</pre>
</section>
<section>
<!--
<pre class="blue  ">

            *     *   *        *

               *         *
    *


                      *
               *                *

                     *
        *   *            *
                 *
                               *


</pre>-->
<pre class="white  ">

               __..._
            .-~       `.
           /            \
          (              )
          |         _    |
          \        ( `   (
           \        \    )
            |            |
             \      \    )
             |       `. /
             |       / ~
            /`       |
          ./         \
         /.-~  ' '~-.`-_
        |/           `\ '\
</pre>
</section>
<section>
<pre class="white  ">

               __..._
            .-~       `.
           /            \
          (              )
          |          _   |
          |         (    (
           \         \   )
            \            |
             \       \   )
             |        `./
             |        /
            /`       |
          ./         |
         /  .-~'  '~-.`\
        /  /          `\|
</pre>
</section>
<section>
<pre class="white  ">

                _..._
             .'       `.
            /           \
           '             )
          (           _  |
          |          (   (
           \          \  )
            \            |
             '        |  )
             |        .\/
             |       |
            /`       |
          .'         \
         /  - .-~'  '~-.
        |    /          `\
</pre>
</section>
<section>
<pre class="white  ">

                _..._
             .'       `.
            /           \
           (             )
           |             |
           |          (  /
           |          |  \
            \            |
             '           /
             |        ._/
             |       |
            /`       |
           /          \
        .-'  -_  -~'  '~-.
       / /     /          `\
</pre>
</section>
<section>
<pre class="white  ">

               __..._
            .-~      ~-.
           /            \
          |              )
          |          .   )
          |          (  <
           \ -.      |   \
            |            )
            |           /
            )  `.  `-._/
           .'       |
           -/ |     \
        .-~          `-._
     .-~- ' -`._. -      ~-.
    /     / |   /           \
</pre>
</section>
<section>
<pre class="white  ">

               __..._
            .-~      ~-.
           /            \
          |              )
          |           .  )
          |            )<
           \- -.      /  )
            |            )
            |           /
            )  `.  \ ._/
           .'       )
          - / |      \
       .-~            `-._
    .-~- . ' - ` ._.-     ~-.
   /       / |    /          \
</pre>
</section>
<section>
<pre class="white  ">

               __.._
            .-~     ~-.
           /           \
          |             )
          |           . |
         (|          | ))
          \`.- -.    ./ )
           (            )
            |          /
            |   `.   _/
            /       (
          _/ / |     \_
      .-~'             `-._
   .-~ __.. ' - ` .._ .-    ~-.
  /  '       / \     /         \
</pre>
</section>
<section>
<pre class="white  ">

               __._
            .-~    ~-.
           /          \
          |           |
          |           _.
         ( \        /  )
          \. .- -.  . /
           (          )
            |        /
            |'   `. ;
            /       \
          _/  | |    \_
     _.-~'             `~-._
  .-~   __.. ' - ` ..__  .  ~-.
 /    '       / \       /      \
</pre>
</section>
<section>
<pre class="white  ">

               ___
            .-~   ~-.
           /         \
          |           |
         _|           |_
        (  \         /  )
         \ .  .- -.  . /
           \         /
            |       |
            |.'   `.|
            /       \
          _/   | |   \_
    _.--~~             ~~--._
 .-~ .   __.. ' - ` ..__   . ~-.
/      ~       / \       ~      \
</pre>
</section>
</article>
<article class="small">
<section>
<pre class="white">
 @
/X\P
/ \


 @
/X\P
/ \
</pre>
<pre class="bright-cyan">

   P




   P
</pre>
<pre class="yellow">
 @




 @


</section>
<section>
<pre class="white">
 @
/X\P
 >\

 o_
 @/
/X
/ \
</pre>
<pre class="yellow">
 @




 @

</pre>
<pre class="bright-cyan">

   P


 o_



</pre>
</section>
<section>
<pre class="white">
  @
 /X\P
  |>

   _
 @   )
/X\_ .
/ \ "
</pre>
<pre class="bright-black">




   _
     )


</pre>
<pre class="bright-yellow">






     .

</pre>
<pre class="yellow">
  @




 @


</pre>
<pre class="bright-cyan">

    P




   _
    "
</pre>
</section>
<section>
<pre class="white">
   @
  /X\P
   >\


 @
/X\P *
/ \
</pre>
<pre class="bright-yellow">






     *

</pre>
<pre class="yellow">
   @




 @


</pre>
<pre class="bright-cyan">

     P




   P

</pre>
</section>
<section>
<pre class="white">
    @
   /X\P
    |>

 o_
 @/
/X
/ \
</pre>
<pre class="yellow">
    @




 @

</pre>
<pre class="bright-cyan">

      P


 o_



</pre>
</section>
<section>
<pre class="white">
     @
    /X\P
     >\

   _
 @   )
/X\_ .
/ \ "
</pre>
<pre class="bright-black">




   _
     )


</pre>
<pre class="bright-yellow">






     .

</pre>
<pre class="yellow">
     @




 @

</pre>
<pre class="bright-cyan">

       P




   _
    "
</pre>
</section>
<section>
<pre class="white">
      @
     /X\P
      |>


 @
/X\P *
/ \
</pre>
<pre class="yellow">
      @




 @

</pre>
<pre class="bright-cyan">

        P




   P

</pre>
<pre class="bright-yellow">






     *

</pre>
</section>
</article>
<script>
    var boards = document.getElementsByTagName("article")
    var frames = document.getElementsByTagName("section")
    for ( var j = 0; j < frames.length; j++ ) frames[j].style.visibility = "hidden"
    var i = 0, b = 0, play
    document.addEventListener("keydown",function(e){
        var frames = document.getElementsByTagName("section")
        for ( var j = 0; j < frames.length; j++ ) frames[j].style.visibility = "hidden"
        if(e.key==' '){
            i = 0
            b > boards.length-2
            ? b = 0
            : b++
        }
        var frames = boards[b].getElementsByTagName("section")
        if(e.key=="ArrowRight"){
            if(i<frames.length-1) i++
        }
        if(e.key=="ArrowLeft"){
            if(i>0) i--
        }
        if(e.key=="Enter"){
            play
            ? play = false
            : play = true
            draw(100)
        }
        if(e.key=="z"){
            play
            ? play = false
            : play = true
            draw0(100)
        }
        for ( var j = 0; j < frames.length; j++ ) frames[j].style.visibility = "hidden"
        frames[i].style.visibility = "visible"
    })
    function draw0 (speed,i){
        var frames = boards[b].getElementsByTagName("section")
        if(!play) return
        if(!i || i > frames.length-1) i = 0
        for ( var j = 0; j < frames.length; j++ ) frames[j].style.visibility = "hidden"
        frames[i].style.visibility = "visible"
        setTimeout(function(){draw0(speed,i+1)},speed)
    } 
    function draw (speed,i,dir){
        var frames = boards[b].getElementsByTagName("section")
        if(!play) return
        if(!i) {i = 0 ; dir = 1}
        if(i>frames.length-2) dir = -1
        for ( var j = 0; j < frames.length; j++ ) frames[j].style.visibility = "hidden"
        frames[i].style.visibility = "visible"
        setTimeout(function(){draw(speed,i+dir,dir)},speed)
    } 
</script>

</body>
