<meta charset = "UTF-8">
<style>
@font-face {
    font-family : "Topaz";
    src : url("TopazPlus_a1200_v1.0.ttf");
}
*:not(font){
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Topaz;
    font-size:16px;
    line-height:16px;
    outline:none;
    border:none;
}
body{
    background-color : var(--black);
    color : var (--white);
}
:root{
    --black         : rgb(1,1,1);
    --red           : rgb(222,56,43);
    --green         : rgb(64,172,48);
    --yellow        : rgb(248,120,0);
    --blue          : rgb(0,104,160);
    --magenta       : rgb(187,0,187);
    --cyan          : rgb(32,180,216);
    --white         : rgb(192,192,192);
    --bright-black  : rgb(85,85,85);
    --bright-red    : rgb(255,0,0);
    --bright-green  : rgb(0,255,0);
    --bright-yellow : rgb(255,255,0);
    --bright-blue   : rgb(92,128,255);
    --bright-magenta: rgb(255,0,255);
    --bright-cyan   : rgb(0,255,255);
    --bright-white  : rgb(255,255,255);
}
.black         {color : var(--black         );}
.red           {color : var(--red           );}
.green         {color : var(--green         );}
.yellow        {color : var(--yellow        );}
.blue          {color : var(--blue          );}
.magenta       {color : var(--magenta       );}
.cyan          {color : var(--cyan          );}
.white         {color : var(--white         );}
.bright-black  {color : var(--bright-black  );}
.bright-red    {color : var(--bright-red    );}
.bright-green  {color : var(--bright-green  );}
.bright-yellow {color : var(--bright-yellow );}
.bright-blue   {color : var(--bright-blue   );}
.bright-magenta{color : var(--bright-magenta);}
.bright-cyan   {color : var(--bright-cyan   );}
.bright-white  {color : var(--bright-white  );}
pre{
    position : absolute;
}
</style>
<body>
<section>
<pre class="blue  ">

   *        *             *     *

      *                  *   *



   *
                             *

  *
      *                   *
                               *



</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -=-  /            
            |\     /|            
            | '°-°` |           
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               -=-               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -o-  /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               -o-               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         -| -=-   -=- |-         
        ( | <@>   <@> | )        
         )(    ) (    )(         
           \   °-°   /           
            \   O   /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
                O                
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                    
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °~°   /           
            \  <0>  /            
            |\     /|            
            | '°-°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               <0>               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °~°   /           
            \  <_>  /            
            |\     /|            
            | '°-°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               <_>               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=~   ~=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °~°   /           
            \  <0>  /            
            |\     /|            
            | '°-°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=~   ~=-            
             @     @             
                                 
                                 
               <0>               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         -| ~=_   _=~ |-         
        ( | -_-   -_- | )        
         )(    ) (    )(         
           \   °-°   /           
            \   O   /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            ~=_   _=~            
                                 
                                 
                                 
                O                
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -o-  /            
            |\     /|            
            | '°~°` |            
          _/         \_            
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
                                 
            -=-   -=-            
             @     @             
                                 
                                 
               -o-               
                                 
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">

                                 
               ___               
            .-~   ~-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \  -=-  /            
            |\     /|            
          _/  '°-°`  \_          
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
              

            -=-   -=-            
             @     @             
                                 
                                 
               -=-               
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<section>
<pre class="blue  ">
                                 
   *        *             *     *
                                
      *                  *   *   
                                 
                                 
                                 
   *                             
                             *   
                                 
  *                              
      *                   *      
                               *   
                                       
                                      
                                    
</pre>
<pre class="white  ">
                                 
                                 

            .-=~'~=-.           
           /         \           
          |           |          
         _| -=-   -=- |_         
        ( | <@>   <@> | )        
         \(    ) (    )/         
           \   °-°   /           
            \   -   /            
            |\     /|            
          _/  '°-°`  \_          
    _.--~~   \     /   ~~--._          
 .-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
<pre class="yellow  ">
                                 
                                 
                                
                                 
              

            -=-   -=-            
             @     @             
                                 
                                 
                -                
                                
                                   
                                       
                                      
                                    
</pre>
</section>
<script>
    var frames = document.getElementsByTagName("section")
    function draw (speed,i,dir){
        if(!i) {i = 0 ; dir = 1}
        if(i>frames.length-2) dir = -1
        for ( var j = 0; j < frames.length; j++ ) frames[j].style.visibility = "hidden"
        frames[i].style.visibility = "visible"
        setTimeout(function(){draw(speed,i+dir,dir)},speed)
    }
    draw(100)
</script>
</body>
