<meta charset = "UTF-8">
<style>
@font-face {
    font-family : "Topaz";
    src : url("TopazPlus_a1200_v1.0.ttf");
}
*:not(font){
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:monospace;
    font-size:16px;
    line-height:16px;
    outline:none;
    border:none;
}
body{
    background-color : var(--black);
    color : var (--white);
}
:root{
    --black         : rgb(1,1,1);
    --red           : rgb(222,56,43);
    --green         : rgb(64,172,48);
    --yellow        : rgb(248,120,0);
    --blue          : rgb(0,104,160);
    --magenta       : rgb(187,0,187);
    --cyan          : rgb(32,180,216);
    --white         : rgb(192,192,192);
    --bright-black  : rgb(85,85,85);
    --bright-red    : rgb(255,0,0);
    --bright-green  : rgb(0,255,0);
    --bright-yellow : rgb(255,255,0);
    --bright-blue   : rgb(92,128,255);
    --bright-magenta: rgb(255,0,255);
    --bright-cyan   : rgb(0,255,255);
    --bright-white  : rgb(255,255,255);
}
.black         {color : var(--black         );}
.red           {color : var(--red           );}
.green         {color : var(--green         );}
.yellow        {color : var(--yellow        );}
.blue          {color : var(--blue          );}
.magenta       {color : var(--magenta       );}
.cyan          {color : var(--cyan          );}
.white         {color : var(--white         );}
.bright-black  {color : var(--bright-black  );}
.bright-red    {color : var(--bright-red    );}
.bright-green  {color : var(--bright-green  );}
.bright-yellow {color : var(--bright-yellow );}
.bright-blue   {color : var(--bright-blue   );}
.bright-magenta{color : var(--bright-magenta);}
.bright-cyan   {color : var(--bright-cyan   );}
.bright-white  {color : var(--bright-white  );}
pre{
    position : absolute;
}
</style>
<body>
<pre class="black         ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="red           ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="green         ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="yellow        ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="blue          ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="magenta       ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="cyan          ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="white         ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-black  ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-red    ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-green  ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-yellow ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-blue   ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-magenta">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-cyan   ">
012345678901234567890123456789012
1         1         2         3  
2                                
3                                
4                                
5                                
6                                
7                                
8                                
9                                
01                               
1                                
2                                
3                                
4                                
5                                
</pre>
<pre class="bright-white  ">
012345678901234567890123456789012
1         1    ___  2         3  
2           .-~   ~-.           
3          /         \           
4         |           |          
5        _| -=-   -=- |_         
6       ( | <@>   <@> | )        
7        \(    ) (    )/         
8         °\   °-°   /°          
9           \  -=-  /            
01          |\     /|            
1           | '°-°` |            
2         _/         \_            
3   _.--~~   \     /   ~~--._          
4.-~  -  __   ` - '    __ -  ~-.      
/          ~~-      -~~         \   
</pre>
</body>
