<meta charset="UTF-8">
<!-- <body>
    <audio autoplay loop src="./src/main_theme.mp3"></audio>
    <div id="center">
    </div>
    <div class="horizontal">
        <div class="horizontal">
            <div class="vertical">
                <div class="log" id="menu">
                    <span class="passiv">(Menu)</font>
                </div>
                <div class="log" id="events">
                    <span class="passiv">(Events)</font>
                </div>
            </div>
            <div class="vertical">
                <div class="log" id="workshop">
                    <span class="passiv">(Workshop)</font>
                </div>
                <div class="log" id="commands">
                </div>
            </div>
        </div>
        <div class="log" id="view">
            <font color=#048>(View)</font>
        </div>
    </div>
</body> -->
<script>
    console.log("loading game scripts")
</script>
<script src = "./src/js/objets.js"></script>
<script src = "./src/js/data.js"></script>
<script src = "./src/js/main.js"></script>
<script src = "./src/js/setup.js"></script>
