:root{
    --black         : rgb(1,1,1);
    --red           : rgb(222,56,43);
    --green         : rgb(48,172,64);
    --yellow        : rgb(248,120,0);
    --blue          : rgb(0,104,160);
    --magenta       : rgb(187,0,187);
    --cyan          : rgb(32,180,216);
    --white         : rgb(192,192,192);
    --bright-black  : rgb(85,85,85);
    --bright-red    : rgb(255,0,0);
    --bright-green  : rgb(0,255,0);
    --bright-yellow : rgb(255,255,0);
    --bright-blue   : rgb(92,128,255);
    --bright-magenta: rgb(255,0,255);
    --bright-cyan   : rgb(0,255,255);
    --bright-white  : rgb(255,255,255);
}
*:not(font){
    box-sizing: border-box;
    margin:0;
    padding:0;
    color : var(--white);
    font-family:Topaz;
    font-size:16px;
    line-height:16px;
    outline:none;
    border:none;
}
@font-face {
    font-family : "Topaz";
    src : url("./src/TopazPlus_a1200_v1.0.ttf");
}
.input{
    opacity : 0.5;
}
input{
    background-color:var(--black);
    width:100%;
}
img{
    max-width : 240px;
}
span.pnj {
    color : var(--bright-white);
}
span.item {
    color : var(--bright-yellow);
}
span.reward {
    color : var(--green);
}
span.positif {
    color : var(--bright-green); 
}
span.negatif {
    color : var(--bright-red);
}
span.object {
    color : var(--cyan);
}
span.variable {
    color : var(--blue);
}
span.value {
    color : var(--yellow);
}
span.shortcut {
    color : var(--bright-cyan);
}
span.fn {
    color : var(--bright-blue);
}
span.choice {
    opacity : 0.5;
}
span.passiv {
    color : var(--bright-black);
}
.horizontal > *{
    width: 50%;
    height : 100%;
    float:left;
}
.vertical > *{
    height : 50%;
    width: 100%;
}
.flex-row{
    display : flex;
    flex-direction : row;
    height:100%;
}
.flex-row > * {
    height:100%;
}
body{
    background-color:var(--black);
    height:100vh;
    overflow : hidden;
    border-right : solid 10px var(--bright-black);
    border-bottom : solid 16px var(--bright-black);
}
.log{
    min-width : 160px;
    padding : 16px 10px 16px 10px;
    overflow : hidden;
    border-top : solid 16px var(--bright-black);
    border-left : solid 10px var(--bright-black);
}
.log > p:before{
    content : '> ';
    opacity : 0.5;
}
#commands *:not(input){
    opacity:0.75;
}
#view{
    width:50%;
    max-height:100%;
    float:left;
}
#workshop{
    display: flex;
    flex-direction:column-reverse;
}
pre{
   /* text-align : center;*/
    margin : 0 auto;
}
pre,pre span{
    color: var(--bright-white);
}
#center{
    position:fixed;
    z-index:999;
    width:100vw;
    height:100vh;
    display : flex;
    align-items : center;
}
#center > *{
    background-color : var(--black);
    border-top : solid 16px var(--blue);
    border-left : solid 8px var(--blue);
    border-right : solid 8px var(--blue);
    border-bottom : solid 16px var(--blue);
}
